/* Dark mode colors. */
:root {
	--sl-color-accent-low: #3d1609;
	--sl-color-accent: #b53a00;
	--sl-color-accent-high: #efbbaa;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ecedf5;
	--sl-color-gray-2: #bfc1ca;
	--sl-color-gray-3: #878b9b;
	--sl-color-gray-4: #545767;
	--sl-color-gray-5: #343746;
	--sl-color-gray-6: #232633;
	--sl-color-black: #16181e;
}
/* Light mode colors. */
:root[data-theme="light"] {
	--sl-color-accent-low: #f5cdc0;
	--sl-color-accent: #b83b00;
	--sl-color-accent-high: #591a03;
	--sl-color-white: #16181e;
	--sl-color-gray-1: #232633;
	--sl-color-gray-2: #343746;
	--sl-color-gray-3: #545767;
	--sl-color-gray-4: #878b9b;
	--sl-color-gray-5: #bfc1ca;
	--sl-color-gray-6: #ecedf5;
	--sl-color-gray-7: #f5f6fa;
	--sl-color-black: #ffffff;
}
