/* Dark mode colors. */
:root {
	--sl-color-accent-low: #391b0a;
	--sl-color-accent: #aa4800;
	--sl-color-accent-high: #e7bfab;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ecedf5;
	--sl-color-gray-2: #bfc1cb;
	--sl-color-gray-3: #878a9c;
	--sl-color-gray-4: #545767;
	--sl-color-gray-5: #343746;
	--sl-color-gray-6: #232634;
	--sl-color-black: #16181e;
}
/* Light mode colors. */
:root[data-theme="light"] {
	--sl-color-accent-low: #efcfc1;
	--sl-color-accent: #ad4a00;
	--sl-color-accent-high: #522205;
	--sl-color-white: #16181e;
	--sl-color-gray-1: #232634;
	--sl-color-gray-2: #343746;
	--sl-color-gray-3: #545767;
	--sl-color-gray-4: #878a9c;
	--sl-color-gray-5: #bfc1cb;
	--sl-color-gray-6: #ecedf5;
	--sl-color-gray-7: #f5f6fa;
	--sl-color-black: #ffffff;
}
